@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.page {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    background-color: #fff;
    padding: 16px;
    border-radius: 10px;
    gap: 1em;
}

.hide-arrows::-webkit-outer-spin-button,
.hide-arrows::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.hide-arrows[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.film-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex: 1;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    padding: 20px;
}

.film-card {
    width: 300px;
    height: 600px;
    object-fit: cover;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-button {
    width: 10%;
}

.button-group {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.button-group > * {
    flex: 1;
}
